button {
  cursor: pointer;
}


a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

header {
  background-image: url(img/bgk-header.png);
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
  height: 1000px;

  }
  
header {
  color: white;
  text-align: center;
}

hr.solid {
  border: 0.4pt solid #02e0d0;
  width: 40px;
}

.our-story {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.topnav {
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
  margin: auto;
  margin-top: 10px;
  width: 70%;
}


.midnav {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px;
  margin: auto;
  margin-top: 100px;
  width: 40%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  margin: auto;
  margin-top: 10px;
  width: 40%;
}

div.button {
  display:inline-block;
  -webkit-appearance:button;
  padding:3px 8px 3px 8px;
  font-size:15px;
  font-weight: bold;
  position:relative;
  cursor:context-menu;
  border-style: solid;
  border-width: thin;
  border-color: #02e0d0;
  border-radius: ;
  padding: 10px 10px;
}

#learn {
  color: #02e0d0;
  text-decoration: none !important;
}

.our-story {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.slogo {
  width: 200px;
  position: relative;
  padding: 40px;
}

.sp {
  color: grey;
}