/* * {
  margin: 0;
  padding: 0;
} */

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

header {
  background-image: url(img/bgk-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header {
  color: white;
  text-align: center;
}

hr.solid {
  border: 0.4pt solid #02e0d0;
  width: 40px;
}

.our-story {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.topnav {
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
  margin: auto;
  margin-top: 10px;
  width: 70%;
}

.midnav {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px;
  margin: auto;
  margin-top: 100px;
  width: 40%;
}

/* main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  margin: auto;
  margin-top: 10px;
  width: 40%;
} */

div.button {
  display: inline-block;
  -webkit-appearance: button;
  padding: 3px 8px 3px 8px;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  cursor: context-menu;
  border-style: solid;
  border-width: thin;
  border-color: #02e0d0;
  /* border-radius: ; */
  padding: 10px 10px;
}

#learn {
  color: #02e0d0;
  text-decoration: none !important;
}

.our-story {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slogo {
  width: 200px;
  position: relative;
  padding: 40px;
}

.sp {
  color: grey;
}
/* -----------------EXPERTIZE--------------  */
.expSection-section {
  outline: 1px dashed red;
  padding-top: 73px;
  padding-bottom: 73px;
  max-width: 1200px;
}
.expSection-title {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 22px;
  line-height: 1;
  margin-bottom: 5px;
}
.expSection-title__text {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  margin-bottom: 29px;
}
.expSection-line {
  width: 35px;
  height: 1px;
  background-color: gray;
  margin-bottom: 84px;
  margin-left: auto;
  margin-right: auto;
}
.expSection-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.expSection-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  /* outline: 1px solid red; */
  padding: 33px;
}
.expSection-item:nth-child(-n + 3) {
  border-bottom: 1px solid gray;
}
.expSection-item:nth-child(-n + 2),
.expSection-item:nth-child(4),
.expSection-item:nth-child(5) {
  border-right: 1px solid gray;
}
.expSection-item__icon {
  fill: blue;
  width: 50px;
  height: 50px;
  margin-bottom: 35px;
}
.expSection-item__title {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  margin-bottom: 25px;
}
.expSection-item__text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin-bottom: 25px;
  text-align: center;
}
/* --------------end of EXPERTIZE-----------------  */
/* -------CONTACT ------- */
.contact-section {
  padding-top: 73px;
  padding-bottom: 73px;
  display: flex;
  max-width: 1200px;
  justify-content: center;
}
.contact-form__wrapper {
  /* width: 50%; */
}
.contact-form__title {
  margin-bottom: 33px;
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form__input {
  width: 461px;
  height: 46px;
  margin-bottom: 23px;
}
.contact-form__text-area {
  width: 461px;
  height: 201px;
}
.contact-form__btn {
  width: 120px;
  height: 46px;
  outline: transparent;
  border-color: transparent;
  margin-left: auto;
  border-radius: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 128, 0, 0.802);
  color: rgba(255, 255, 255, 1);
}
.contact-form__btn :focus,
.contact-form__btn :hover {
  background-color: rgb(0, 128, 0);
}
.clients__wrapper {
}
.clients-title {
  margin-bottom: 47px;
}
.clients--icon {
  width: 50px;
}
/* -------end of CONTACT ------- */
