* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

header {
  background-image: url(img/bgk-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header {
  color: white;
  text-align: center;
}

hr.solid {
  border: 0.4pt solid #02e0d0;
  width: 40px;
  margin: 20px auto;
}

.our-story {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.topnav {
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
  margin: auto;
  width: 70%;
}

.midnav {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 20px 150px;
  width: 40%;
  margin: auto;
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  margin: auto;
  margin-top: 20px;
  width: 50%;
}

div.button {
  display: inline-block;
  -webkit-appearance: button;
  padding: 3px 8px 3px 8px;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  cursor: context-menu;
  border-style: solid;
  border-width: thin;
  border-color: #02e0d0;
  padding: 10px 10px;
  margin: 50px auto;
}

#learn {
  color: #02e0d0;
  text-decoration: none !important;
}

.our-story {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slogo {
  width: 250px;
  position: relative;
  padding: 40px;
}

.sp {
  color: grey;
}
/* -----------------EXPERTIZE--------------  */
.expSection-section {
  padding-top: 73px;
  padding-bottom: 73px;
  max-width: 1200px;
  margin: 0 auto;
}
.expSection-title {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 22px;
  line-height: 1;
  margin-bottom: 16px;
}
.expSection-title__text {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  margin-bottom: 16px;
}
.expSection-line {
  width: 35px;
  height: 1px;
  background-color: gray;
  margin-bottom: 51px;
  margin-left: auto;
  margin-right: auto;
}
.expSection-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  @media screen and (min-width: 1000px) {
    gap: 0px;
  }
}
.expSection-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;

  padding: 33px;
  border: 1px solid gray;
  border-radius: 3px;
  @media screen and (min-width: 1000px) {
    border-radius: 0px;
  }
}
@media screen and (min-width: 1000px) {
  .expSection-item {
    border-color: transparent;
    width: 320px;
  }
  .expSection-item:nth-child(-n + 3) {
    border-bottom: 1px solid gray;
  }
  .expSection-item:nth-child(-n + 2),
  .expSection-item:nth-child(4),
  .expSection-item:nth-child(5) {
    border-right: 1px solid gray;
  }
}

.expSection-item__icon {
  fill: blue;
  width: 50px;
  height: 50px;
  margin-bottom: 35px;
}
.expSection-item__title {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  margin-bottom: 25px;
}
.expSection-item__text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.57;
  margin-bottom: 25px;
  text-align: center;
}
/* --------------end of EXPERTIZE-----------------  */

/* -------CONTACT ------- */
.contact-section {
  margin: 0 auto;
  padding-top: 73px;
  padding-bottom: 73px;
  display: flex;
  flex-direction: column;
  max-width: 1200px;

  gap: 60px;
  @media screen and (max-width: 900px) {
    align-items: center;
  }
  @media screen and (min-width: 900px) {
    flex-direction: row;
    justify-content: center;
  }
}

.contact-form__title {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 33px;
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form__input {
  width: 300px;

  height: 46px;
  margin-bottom: 23px;
  padding-left: 21px;
  outline: transparent;
  border: 1px solid #b3b2b2;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1000px) {
    width: 461px;
  }
}
.contact-form__input:hover,
.contact-form__input:focus {
  border-color: #00e0d0;
}
.contact-form__text-area {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1;
  border: 1px solid #b3b2b2;
  border-radius: 3px;
  outline: transparent;
  width: 300px;
  height: 201px;
  margin-bottom: 20px;
  resize: none;
  padding-left: 21px;
  padding-top: 21px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1000px) {
    width: 461px;
  }
}
.contact-form__text-area:hover,
.contact-form__text-area:focus {
  border-color: #00e0d0;
}

.contact-form__btn {
  width: 120px;
  height: 46px;
  outline: transparent;

  border-radius: 3px;
  border: 1px solid #00e0d0;
  background-color: white;
  color: #00e0d0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__btn:focus,
.contact-form__btn:hover {
  color: #e0008e;
  border-color: #e0008e;
}
/* -------------  */
.clients-title {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 23px;
}
.clients-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  @media screen and (min-width: 1000px) {
    grid-column-gap: 115px;
  }
}
.clients-item {
  align-self: center;
  justify-self: center;
}

/* -------end of CONTACT ------- */

/* --------- Watch ------- */
.watch-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 202px;
  padding-bottom: 248px;
  background-size: cover;
  background-color: rgba(196, 196, 196, 1);
  background-image: url(./assets/images//watch/bgk-middle.png);
  background-repeat: no-repeat;
  background-position: center;
}

.watch-icon {
  width: 101px;
  margin-bottom: 34px;
}
.watch-text {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1;
}
/* --------- end of Watch ------- */
